
/* menu button - start #contactPage */
.header nav .menu {
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
}

.header nav .menu .menu-link {
    position: relative;
    bottom: 0px;
    z-index: 10;
    display: block;
    padding: 12px 20px 12px;
    background-color: #FFCF31;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    text-decoration: none;
    color: #fd5e0f;
}

.header nav .menu .extrude-rt {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    width: 10px;
    height: 70%;
    background-color: #ebc721;
    -webkit-transform: skew(0deg, -45deg);
    -ms-transform: skew(0deg, -45deg);
    transform: skew(0deg, -45deg);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: height 200ms ease, -webkit-transform 200ms ease;
    transition: height 200ms ease, -webkit-transform 200ms ease;
    -o-transition: height 200ms ease, transform 200ms ease;
    transition: height 200ms ease, transform 200ms ease;
    transition: height 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
}

.header nav .menu .extrude-rt.alt {
    height: 97%;
    -webkit-transform: skew(0deg, -22.5deg) scale3d(0, 1, 1);
    transform: skew(0deg, -22.5deg) scale3d(0, 1, 1);
    -webkit-transform-origin: 0% 50% 0px;
    -ms-transform-origin: 0% 50% 0px;
    transform-origin: 0% 50% 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.header nav .menu .extrude-bt {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 8;
    width: 80%;
    height: 10px;
    background-color: #ebc721;
    -webkit-transform-origin: 50% 100% 0px;
    -ms-transform-origin: 50% 100% 0px;
    transform-origin: 50% 100% 0px;
    -webkit-transition: width 200ms ease, -webkit-transform 200ms ease;
    transition: width 200ms ease, -webkit-transform 200ms ease;
    -o-transition: transform 200ms ease, width 200ms ease;
    transition: transform 200ms ease, width 200ms ease;
    transition: transform 200ms ease, width 200ms ease, -webkit-transform 200ms ease;
}

.header nav .menu .extrude-bt.alt {
    width: 98.5%;
    -webkit-transform: skew(-45deg, 0deg) scale3d(1, 0, 1);
    transform: skew(-45deg, 0deg) scale3d(1, 0, 1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.header nav .menu:hover .menu-link {
    -webkit-transform: translate(10px, -10px);
        -ms-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
}

.header nav .menu:hover .extrude-rt.alt {
    -webkit-transform: skew(0deg, -45deg) scale3d(1, 1, 1);
            transform: skew(0deg, -45deg) scale3d(1, 1, 1);
    height: 100%;
}

.header nav .menu:hover .extrude-bt.alt {
    -webkit-transform: skew(-45deg, 0deg) scale3d(1, 1, 1);
            transform: skew(-45deg, 0deg) scale3d(1, 1, 1);
    width: 100%;
}


/* home page */
/* .home.header nav .menu .menu-link{
    color: #e00909;
} */

/* about page */
.about-pg.header nav .menu .menu-link{
    background-color: #fff;
    color: #FFCF31;
}
.about-pg.header nav .menu .extrude-rt,
.about-pg.header nav .menu .extrude-bt{
    background-color: #eee;
}

/* Capabilities page */
/* .capabilities-pg.header nav .menu .menu-link{
    color: #00b0f0;
} */

/* Work page */
/* .work-pg.header nav .menu .menu-link{
    color: #fff;
} */


/* menu button - end  */



.gb-common{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
}
.gb-common .inner-wrap{
    display: flex;
    align-items: center;
    padding: 0 100px;
    margin: 100px 0 0;
    width: 100%;
}
.gb-common .inner-wrap .col{
    width: 100%;
}
.gb-common .inner-wrap .col img{
    width: 100%;
    height: auto;
}

/* capabilites */ 
.gb-cap{
    background: #00b0f0 ;
}

#services .section .box-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
}
#services .section .box-wrap .box{
    width: 50%;
    height: 100%;
}

/* About and Work page */ 
.gb-abt-wrk .inner-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0 100px;
}
.gb-abt-wrk .inner-wrap .col{
    width: 60%;
}
.gb-abt-wrk .inner-wrap .col img{
    width: 100%;
    height: auto;
}
#work .gb-abt-wrk .inner-wrap .col img {
    position: relative;
    display: flex;
    top: -30px; 
}
.gb-abt-head {
    width: 53%;
    text-align: center;
}

/* work page */
.gb-centerCont{
    padding: 0 !important;
}
.gb-work{
    background: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
}
.gb-work .inner-wrap{
    padding-right: 0 !important;
    height: 100vh;
    padding-bottom: 150px;
}
.gb-work .gb-head .gb-title{
    color: #e00909;
}
.gb-work .gb-head .gb-caption{
    color: #e00909;
}
.gb-work .gb-ft p{
    color: #e00909;          
}

.newSection .gb-red .lftSec:before,
.newSection .gb-red .lftSec:after,
.newSection .gb-red .rgtSec:after,
.newSection .gb-red .rgtSec:before,
.newSection .gb-red .btmSec:after,
.newSection .gb-red .btmSec:before{
    border-color: #e00909;
}
.newSection[data-sec="8"] .btmSec .sec:first-child:after{
    border-color: #e00909;
}

.newSection .gb-blue .lftSec:before,
.newSection .gb-blue .lftSec:after,
.newSection .gb-blue .rgtSec:after,
.newSection .gb-blue .rgtSec:before,
.newSection .gb-blue .btmSec:after,
.newSection .gb-blue .btmSec:before{
    /*border-color: #0A47ED;*/
    border-color: #e00909;
}

.newSection .gb-yellow .lftSec:before,
.newSection .gb-yellow .lftSec:after,
.newSection .gb-yellow .rgtSec:after,
.newSection .gb-yellow .rgtSec:before,
.newSection .gb-yellow .btmSec:after,
.newSection .gb-yellow .btmSec:before{
    /*border-color: #FFCF31;*/
    border-color: #e00909;
}

.newSection .gb-green .lftSec:before,
.newSection .gb-green .lftSec:after,
.newSection .gb-green .rgtSec:after,
.newSection .gb-green .rgtSec:before,
.newSection .gb-green .btmSec:after,
.newSection .gb-green .btmSec:before{
    /*border-color: #00892D;*/
    border-color: #e00909;
}

.newSection .gb-orange .lftSec:before,
.newSection .gb-orange .lftSec:after,
.newSection .gb-orange .rgtSec:after,
.newSection .gb-orange .rgtSec:before,
.newSection .gb-orange .btmSec:after,
.newSection .gb-orange .btmSec:before{
    border-color: #e00909;
}


#work .gb-head {
    position: relative;
    top: -70px;
}
.gb-head .gb-title{
    color: #fff;
    font-size: 120px;
    font-weight: 900;
    line-height: 110px;
    margin: 0;
    padding-bottom: 30px;
}
.gb-head .gb-title span {
    font-size: 100px;
}
.gb-head .gb-subtitle {
    color: #fff;
    font-size: 60px;
}
.gb-head .gb-caption{
    color: #fff;
    font-size: 30px;
    margin: 20px 0 0;
    line-height: 1;
}
.gb-ft{
    position: absolute;
    bottom: 30px;
    right: 100px;
}
.gb-ft p{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin: 0;             
}






@media screen and (max-width:1600px){
    .gb-common .inner-wrap,
    .gb-abt-wrk .inner-wrap{
        padding-bottom: 100px;
    }
    .gb-head .gb-title{
        font-size: 100px;
        line-height: 80px;
    }
    .gb-head .gb-subtitle {
        font-size: 48px;
   }
}
@media screen and (max-width:1366px){
    /* #contactPage .bg-contact .slide3{
        padding-left: 70px;
    } */
    .gb-common .inner-wrap,
    .gb-abt-wrk .inner-wrap{
        padding: 0 70px;
        padding-bottom: 70px;
    }
    .gb-head .gb-title{
        font-size: 80px;
        line-height: 60px;
    }
    .gb-head .gb-subtitle {
        font-size: 40px;
   }
   .gb-head .gb-caption{
        font-size: 27px;
   }
   .gb-ft p{
       font-size: 27px;
   }
   .gb-ft{
       right: 70px;
   }
}
@media screen and (min-width:1260px) and (max-width:1290px) {
    .gb-head .gb-title {
        line-height: 70px !important;
    }
    .gb-abt-wrk .inner-wrap{
        padding-bottom: 0;
    }
    .gb-abt-wrk .inner-wrap .col{
        width: 45%;
    }
    .fp-bg{
        background-size: 45% !important;
        background-position: center 40% !important;
    }
}
@media screen and (max-width:1200px){

    .gb-head .gb-title{
        font-size: 60px;
        line-height: 50px;
    }
    .gb-head .gb-subtitle {
        font-size: 34px;
   }
   .gb-head .gb-caption{
        font-size: 24px;
   }
   .gb-ft p{
        font-size: 24px;
    }
}
@media screen and (max-width:1024px){
  

    .logo, .blacknav .logo {
        width: 125px !important;
    }
    
    .gb-common .inner-wrap,
    .gb-abt-wrk .inner-wrap{
        padding: 0 50px;
        padding-bottom: 100px;
    }
    .gb-ft {
        right: 50px;
        bottom: 20px;
    }

    .gb-about .fp-tableCell{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 0 !important;
    }
    .gb-about .inner-wrap{
        padding: 0 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .gb-about .gb-head{
        padding: 50px 0;
        text-align: center;
    }
    .gb-abt-wrk .inner-wrap .col{
        width: 100%;
    }
    .gb-abt-wrk .inner-wrap .col:last-child{
        /* width: 70%; */
        width: 50%;
        margin: 0 auto;
    }
    .gb-about .gb-head .gb-title{
        padding-bottom: 0;
    }
    .gb-about .gb-head .gb-title br{
        display: none;
    }


    .gb-abt-wrk .inner-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .gb-work .gb-head{
        text-align: center;
    }
    .gb-work .gb-head .gb-title br{
        display: none;
    }
    .gb-work .inner-wrap .col:last-child{
        padding-top: 50px;
        width: 60%;
        margin: 0;
    }

}
@media screen and (max-width:768px){
    body.home{
        padding: 0;
    }
    .logo, .blacknav .logo {
        width: 110px !important;
        top: 20px !important;
        left: 20px !important;
    }
    .gb-common .inner-wrap,
    .gb-abt-wrk .inner-wrap {
        padding: 0 30px;
        /* padding-bottom: 120px; */
        padding-bottom: 15%;
    }
    .gb-head .gb-title{
        font-size: 44px;
        line-height: 40px;
        padding-bottom: 20px;
    }
    .gb-head .gb-subtitle {
        font-size: 27px;
   }
   .gb-head .gb-caption{
        font-size: 20px;
   }
    .gb-ft {
        right: 30px;
        bottom: 20px;
    }
    .gb-ft p{
        font-size: 20px;
    }
}
@media screen and (max-width:480px){
    .logo, .blacknav .logo {
        width: 110px !important;
        top: 15px !important;
        left: 20px !important;
    }
    .gb-head .gb-title{
        font-size: 40px;
        line-height: 36px;
        padding-bottom: 20px;
    }
    .gb-head .gb-subtitle {
        font-size: 24px;
   }
   .gb-head .gb-caption{
        font-size: 18px;
   }
    .gb-ft {
        right: 30px;
        bottom: 15px;
    }
    .gb-ft p{
        font-size: 18px;
    }
}
@media screen and (max-width:360px){
    .logo, .blacknav .logo {
        width: 90px !important;
    }
    .gb-home .gb-common .inner-wrap,
    .gb-abt-wrk .inner-wrap{
        padding: 0 20px;
        /* padding-bottom: 100px; */
        padding-bottom: 15%;
    }
    .gb-head .gb-title{
        font-size: 36px;
        line-height: 30px;
    }
    .gb-ft {
        right: 20px;
        bottom: 10px;
    }
    .gb-ft p {
        font-size: 16px;
    }
}
@media screen and (max-width:330px){
    .gb-head .gb-title{
        font-size: 30px;
        line-height: 24px;
    }
    .gb-ft p {
        font-size: 14px;
    }
}