@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap ');

/*@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09a55bb9e923212c9e9_36D748_0_0.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0ce06d32f606cf6920d_36D748_0_0.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09ac15b133c5c2a2a19_36D748_0_0.woff') format('woff'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09ac15b133c5c2a2a19_36D748_0_0.woff') format('woff'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0ce5508052d9a5cedf2_36D748_0_0.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0ce5508052d9a5cedf2_36D748_0_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NeueHaasGroteskMedium';
  src: url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09ac15b1321542a2a1a_36D748_1_0.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0cebf8dab1ef822a119_36D748_1_0.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09a021d1239b5863e28_36D748_1_0.woff') format('woff'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09a021d1239b5863e28_36D748_1_0.woff') format('woff'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0cebf8dab295622a11a_36D748_1_0.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0cebf8dab295622a11a_36D748_1_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NeueHaasGroteskBold';
  src: url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09bc15b135b902a2a1c_36D748_2_0.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0ce021d127444863e3c_36D748_2_0.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09abf8dab479a22a100_36D748_2_0.woff') format('woff'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09abf8dab479a22a100_36D748_2_0.woff') format('woff'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0ce55080507785cedf3_36D748_2_0.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0ce55080507785cedf3_36D748_2_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: '36d748 1 0';
  src: url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09a021d1239b5863e28_36D748_1_0.woff') format('woff'), url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0cebf8dab295622a11a_36D748_1_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab09a021d1239b5863e28_36D748_1_0.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: '36d748 2 0';
  src: url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0ce55080507785cedf3_36D748_2_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '36d748 0 0';
  src: url('https://uploads-ssl.webflow.com/5b13df51d0d5fe8211f203da/5b1ab0ce5508052d9a5cedf2_36D748_0_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.navigation * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation .w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}

.navigation .nav {
    background-color: #fff;
}

.navigation .w-nav:before,
.navigation .w-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.navigation .wrapper {
    position: relative;
    z-index: 900;
    width: 85%;
    max-width: 1980px;
    margin-right: auto;
    margin-left: auto;
}

.navigation .w-container:before,
.navigation .w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.navigation .w-container:after {
    clear: both;
}

.navigation .nav-body {
    width: 100%;
    float: left;
    clear: none;
}

.navigation .w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.navigation img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.navigation .nav-logo {
    padding-top: 43px;
    padding-bottom: 40px;
}

.navigation article,
.navigation aside,
.navigation details,
.navigation figcaption,
.navigation figure,
.navigation footer,
.navigation header,
.navigation hgroup,
.navigation main,
.navigation menu,
.navigation nav,
.navigation section,
.navigation summary {
    display: block;
}

.navigation .w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.navigation .nav-item {
    padding: 0 30px;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
    font-family: NeueHaasGrotesk;
    color: #000;
    font-size: 18px;
    line-height: 1;
}

.navigation .nav-item.is-active {
    font-family: NeueHaasGroteskMedium;
    color: #0A47ED;
    font-weight: 500;
}

.navigation .nav-item.is-last-h {
    padding-right: 0px;
}

.navigation .w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation .nav-toggle {
    padding: 48px 0px 48px 30px;
}

.navigation .hr {
    width: 100%;
    height: 8px;
    float: left;
    background-color: #000;
}

.navigation .hr {
    display: none;
}

.navigation .hr.hr-thin {
    height: 5px;
}

.navigation .w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}


nav {
    left: 0;
    margin: 0 auto;
    position: absolute;
    padding: 0 10%;
    width: 100%;
    z-index: 2;
}

nav.scroll {
    background: rgba(255, 255, 255, 0.5);
}

nav li {
    list-style-type: none;
    float: left;
    margin: 0 20px;
}

nav ul {
    float: right;
    margin: 30px 0;
    position: relative;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #000;
    padding: 5px 0;
    line-height: 1;
    position: relative;
}

nav.blacknav a {
    color: #fff;
}

nav span {
    position: fixed;
    bottom: 0;
    left: 0;
    float: left;
    width: 0%;
    height: 2px;
    background: #f00;
    display: block;
    transition: all ease 0.5s;
}

nav.blacknav span {
    background: #fff;
}

@media (max-width:1366px) {
    nav a {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    nav {
        left: 0;
        position: fixed;
        padding: 0 7%;
        top: 0;
    }
    nav ul {
        width: 70%;
        padding: 15px;
        position: fixed;
        top: 43px;
        right: 7%;
        margin: 0;
        background: rgba(255,0,0,0.1);
        z-index: 10;
        display: none;
    }
    nav.open ul{
      display: block;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid #f0f0f0;
    }

    nav .line {
        display: none;
    }

    nav ul li:last-child {
        padding: 10px 0 0;
        border: none;
    }
    .hamburge_r {
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        top: 1.5rem;
        position: relative;
        float: right;
    }

    .hamburge_r__icon {
        width: 28px;
        height: 20px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        position: relative;
        flex: 1;
        align-self: center;
    }

    .hamburge_r__icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #f00;
        border-radius: 0px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .hamburge_r__icon span:nth-child(1) {
        top: 0;
    }

    .hamburge_r__icon span:nth-child(2),
    .hamburge_r__icon span:nth-child(3) {
        top: 8px;
    }

    .hamburge_r__icon span:nth-child(4) {
        top: 16px;
    }

    .hamburge_r__icon.open span {
        background: #f00;
    }

    .hamburge_r__icon.open span:nth-child(1) {
        top: 16px;
        width: 0%;
        left: 50%;
    }

    .hamburge_r__icon.open span:nth-child(2) {
        transform: rotate(45deg);
    }

    .hamburge_r__icon.open span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .hamburge_r__icon.open span:nth-child(4) {
        top: 16px;
        width: 0%;
        left: 50%;
    }

}

body {
    overflow: hidden;
}

*/



.logo {
    display: flex;
    /*display: none;*/
    position: absolute;
    left: 50px;
    top: 50px;
    width: 200px;
    z-index: 99999;
}
.logo img { width: 100%; }

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav {
    width: 100%;
    /*display: none;*/
    position: fixed;
    top: 0;
    /*overflow: hidden;*/
    left: 0;
    z-index: 10;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

nav ul li {
    float: left;
    list-style-type: none;
    /* margin: 20px 20px; */
    margin: 30px 25px;
}

nav ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    /* font-family: 'Open Sans'; */
    font-family: 'Luckiest Guy', cursive;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}



nav ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 0px solid #fff;
    width: 100%;
    /*color: chocolate;*/
    /*text-decoration: underline;*/
}

nav ul li a:hover:before,
nav ul li a.active:before {}

.underline {
    display: block;
    position: fixed;
    height: 2px;
    /* background: #f00; */
    background: #fff;
    width: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
nav.blacknav .logo {
    display: flex;
    /*display: none;*/
    position: absolute;
    left: 50px;
    top: 50px;
    width: 200px;
}
.logo img { width: 100%; }
nav.blacknav ul li a {
    /* color: #000; */
    color: #e00909;
}

nav.blacknav .underline {
    /* background: #000; */
    background: #e00909;
}

nav ul li {
    position: relative;
}

nav ul li ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 500%;
    /* background: #e00909; */
    background: #fdfcfc61;
    transform: translate(0, 34px);
    display: none;
}
#work nav ul li ul{
    background: #e009099c;
}

nav ul li:hover ul {
    display: block;
}
nav ul li ul li {
    width: calc(100% - 50px);
}

nav.blacknav ul li ul a, nav ul li ul a  {
    color: #fff;
    text-align: center;
}

@media (max-width:992px) {
    nav ul li{
        margin: 30px 15px;
    }
    nav ul li a{
        font-size: 18px;
    }
}

@media (max-width:768px) {
    body {
        padding: 0;
    }
    nav.open > ul{
        -webkit-transform: translate(0%);
        transform: translate(0%);
    }
    /* nav ul {
        margin: 0;
        padding: 0;
        float: none;
        display: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 94%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    } */

    .underline{
        display: none;
    }
    

    nav ul{
        float: left !important;
        display: block;
        background-color: #000;
        position: absolute;
        z-index: 999;
        top: 0px;
        left: 0;
        max-width: 480px;
        width: 100%;
        height: 100vh;
        -webkit-transform: translate(-520px);
        transform: translate(-520px);
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        font-size: 14px;
        padding: 0 15px;
        padding-top: 120px;
        -moz-transform: translate(-5x);
        -ms-transform: translate(-5x);
        -o-transform: translate(-5x);
}
    nav ul li{
        margin: 0;
        padding: 15px 0;
        display: block;
        width: 100%;
        /* text-align: center; */
        border-bottom: 1px solid #e4e4e4;
    }
    nav ul li:last-child {
        border-bottom: none;
    }
    /* nav ul li:hover ul */
    /* nav ul li {
        margin: 0;
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }  */
    nav ul li a,
    nav.blacknav ul li ul a,
    nav.blacknav ul li a{
        font-size: 18px;
        color: #fff;
    }
    nav.blacknav ul li ul a, nav ul li ul a{
        text-align: left;
    }
    #work nav ul li ul{
        background: transparent;
    }
    nav ul li a.active{
        color: #e00909;
    }
    nav ul li ul{
        background: transparent;
        display: block;
        width: 100%;
        top: 40px;
        padding: 0;
        height: auto;
        border-bottom: 1px solid #fff;
    }
    nav ul li ul li{
        border-bottom: none;
        padding: 0px 0px 20px;
        margin-left: 30px;
    }
    nav ul li ul li a{
        text-align: left;
        position: relative;
    }
    nav ul li ul li a:before{
        content: '';
        display: block;
        position: absolute;
        left: -20px;
        top: 50%;
        height: 2px;
        width: 10px;
        background: #fff;
    }
       

    .hamburge_r {
        position: fixed;
        top: 15px;
        right: 20px;
        width: 30px;
        height: 24px;
        z-index: 99999;
    }
    .hamburge_r span {
        position: absolute;
        top: 15px;
        right: 0;
        width: 30px;
        height: 3px;
        top: 50%;
        /*background: #000;*/
        background: #fff;
        border-radius: 3px;
        -webkit-transition: all linear 0.2s;
        -o-transition: all linear 0.2s;
        transition: all linear 0.2s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
    #work .hamburge_r span,
    #work .hamburge_r span:after,
    #work .hamburge_r span:before {
        background: #e00909;
    }
    #work .open .hamburge_r span {
        background: none;
    }

    .hamburge_r span:after,
    .hamburge_r span:before {
        position: absolute;
        top: -9px;
        right: 0;
        width: 100%;
        content: '';
        display: inline-block;
        background: #fff;
        height: 3px;
        -webkit-transition: all linear 0.2s;
        -o-transition: all linear 0.2s;
        transition: all linear 0.2s;
    }
    .hamburge_r span:before {
        top: 9px;
    }
    .open .hamburge_r span:after,
    .open .hamburge_r span:before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 0;
    }
    .open .hamburge_r span:before {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    .open .hamburge_r span {
        background: none;
    }
}


@media (max-width:480px){
    /* nav ul{
        max-width: unset;
        width: auto;
    } */
    
    /* nav.open .hamburge_r span:after, nav.open .hamburge_r span:before{
        background: #fff;
    } */
    nav ul li{
        padding: 10px 0;
    }
    nav ul li a, nav.blacknav ul li ul a, nav.blacknav ul li a{
        font-size: 16px;
    }
    nav ul li ul{
        top: 20px;
    }
    nav ul li ul li{
        padding: 0px 0px 10px
    }
}