@media only screen and (max-width: 1600px) {
    #fullpage .section:nth-child(2) .mainTitle {
        font-size: 60px;
    }

    .title {
        font-size: 45px;
    }

    .mainTitle {
        font-size: 70px;
    }

    #fullpage .section .row .prjTitle .btn {
        /*padding: 5px 15px;*/
        font-size: 25px;
        /*width: 198px;*/
        line-height: initial;
    }

    .rgtHeader .btmCopy {
        font-size: 23px;
    }

    .rgtHeader nav>ul>li>a {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1440px) {
    .prjCarousel {
        padding: 0 7%;

        .slick-arrow {
            left: 2%;

            &.slick-next {
                right: 2%;
            }
        }

        .slick-slide {
            img {
                margin: 5% auto;
                height: 90%;
            }
        }
    }

    .pageSubTitle {
        font-size: 25px;
    }

    .rgtHeader .btmCopy {
        font-size: 22px;
    }

    #fullpage .section .row .prjTitle .btn {
        font-size: 26px;
        width: 215px;
    }

    #fullpage .section.logoSection .row {
        width: 80%;
        margin: 0 10%;
    }

    section.logoSection .row img {
        height: 90%;
    }

    .rgtHeader nav>ul>li>a {
        font-size: 35px;
    }

    .rgtHeader nav>ul>li>ul>li>a {
        font-size: 24px;
    }

    .title {
        font-size: 40px;
    }

    .mainTitle {
        font-size: 80px
    }

    section.form>div.lftSec {
        font-size: 45px;
    }

    section.form form p input::placeholder,
    section.form form p select,
    section.form form p textarea::placeholder {
        font-size: 20px;
    }

    .text {
        font-size: 18px;
    }

    /*section.content .row:nth-child(3) .contentBox {
        margin: 0 0 200px 4%;
    }*/

    section.quicklinks a {
        font-size: 28px;
    }

    #fullpage .section:nth-child(2) .mainTitle {
        font-size: 54px;
    }

    section.form .row>div.lftSec {
        font-size: 35px;
    }

    #fullpage .section.intro2 .row .mainTitle {
        font-size: 65px;
    }
}

@media only screen and (max-width: 1366px) {
    .prjCarousel .slick-arrow {
        width: 50px;
        height: 50px;
    }

    .title {
        font-size: 35px;
        margin: 0 0 30px;
    }

    .mainTitle {
        font-size: 70px;
    }

    #fullpage .section:nth-child(2) .mainTitle {
        font-size: 46px;
    }

    #fullpage .section .row .prjTitle .btn {
        font-size: 22px;
        padding: 0 20px;
        text-align: center;
        width: 192px;
    }

    .video .close {
        width: 40px;
        height: 40px;
    }

    .video .close:after,
    .video .close:before {
        height: 2px;
    }

    footer .row .col a {
        font-size: 16px;
    }

    footer .row .col.copy {
        font-size: 16px;
    }

    .rgtHeader .btmCopy {
        font-size: 18px;
    }

    .rgtHeader nav button i {
        font-size: 12px;
        transform: rotate(-90deg) translateX(-10px) translateY(-36px);
    }

    .rgtHeader nav>ul>li>a {
        font-size: 26px;
    }

    .rgtHeader nav>ul>li>ul>li>a {
        font-size: 22px;
    }
}

@media only screen and (device-width: 1024px) and (device-height: 768px) {

    #fullpage .section .row .prjTitle.overlayTitle {
        height: auto;
        padding: 0 20px !important;
        bottom: -30px;
    }

    .btn,
    #fullpage .section .row .prjTitle .btn {

        padding: 10px 20px;
        width: 172px;

        &::before,
        &::after {
            transform: translate3D(0, 0, 0);
            transition: transform 200ms linear;
            transition-delay: 200ms;
        }

        .btn__content {
            &::after {
                right: 1%;
                left: 1%;
                transition: left 200ms linear,
                    right 200ms linear;
            }

            &-wrap {

                &::before,
                &::after {
                    transform: translate3D(0, 0, 0);
                    transition: transform 200ms linear;
                    /* double delayed time for transition */
                    transition-delay: 400ms;
                }
            }
        }
    }

    [data-page=home] .banner.work .container,
    [data-page=work] .banner.work .container {
        margin: 0 5%;
    }

    #fullpage .section.logoSection .row {
        margin: 0 5%;
        width: 90%;
    }

    #fullpage .section:nth-child(2) .mainTitle {
        font-size: 42px;

        &:first-child {
            margin: 0 !important;
        }
    }
}

@media only screen and (max-width: 767px) {

    .lftHeader,
    .rgtHeader {
        border: none;
        height: auto;
    }

    .lftHeader {
        width: 40%;
        padding: 5%;


        .social {
            position: fixed;
            bottom: -50px;
            left: 0;
            display: flex;
            width: 50%;
            margin: 0 25%;
            transition: bottom 0.3s 0s linear;

            .icons {
                svg {
                    width: 30px;
                    height: 30px;
                }

                height: auto;
            }
        }
    }

    .tagLine {
        align-items: center;
        color: #707070;
        display: flex;
        /*font-family: @os;*/
        font-family: @ls;
        font-size: 27px;
        /*font: Regular 27px/40px Oswald;*/
        height: 35px;

        line-height: inherit;
        margin: 10px;
        text-align: left;
        text-transform: uppercase;
        /*transform-origin: 0 0;*/
        /*transform: rotate(-90deg);*/
        width: 500px;
        position: fixed;
        bottom: 0;
        left: 0;

        i {
            color: #e00909;
            font-style: normal;
            transition: color 0.3s linear
        }
    }

    .rgtHeader {
        margin: 5%;
        padding: 0;
        overflow: visible;

        .btmCopy {
            display: none;
            font-size: 22px;

            .mktLine {
                margin: 7px 0 0;
            }
        }

        nav {
            button {
                height: 110px;

                &:before {
                    top: 0;
                }

                &:after {
                    top: 10px;
                }
            }

            ul {
                width: 100%;
                height: auto;
                left: 0;

                li {
                    width: 100%;
                    height: auto;
                    padding: 0 0 10%;

                    &:before {
                        display: none;
                    }


                    &:after {
                        display: none;
                    }

                    a {
                        position: relative;
                        line-height: 40px;

                        span:after {
                            width: 50px;
                            margin: 0 auto;
                        }

                    }

                    &:hover a span {
                        transform: translate(0, 0);

                        &:after {
                            width: 50px;
                        }
                    }
                }
            }

            .hamburger {
                width: 100%;
            }
        }
    }

    body.pageScrolled {
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 120px;
            background: #fff;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
        }
    }


    body.active {
        nav {
            button {
                &:before {
                    top: 0;
                }

                &:after {
                    top: 10px;
                }
            }

            ul {
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        .social {
            bottom: 5%;
            transition: bottom 0.3s 0.3s linear;
        }

    }

    .banner {
        background-position: center bottom;
        background-size: 80%;
        margin: 30% 0 0;
        width: 100%;

        &.work {

            .container {
                height: auto;
                margin: 0;
            }
        }

        &.about {
            .container {
                .row {
                    flex-direction: column;

                    .lftSec {
                        position: relative;

                        .title {
                            text-align: center;
                        }

                        .scrollDownArr {
                            display: none;
                        }
                    }

                    .rgtSec {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .container {
            .row {
                .lftSec {
                    .title {
                        text-align: left;
                    }

                    .text {
                        text-align: left;
                        width: 100%;
                    }
                }
            }
        }

        &.project {
            .container {
                .row {
                    flex-direction: column;

                    .lftSec {
                        width: 100%;

                        .scrollDownArr {
                            display: none !important;
                        }
                    }

                    .rgtSec {
                        margin: 50px 0 0;
                        width: 100%;
                    }

                }
            }
        }
    }

    [data-page=home],
    [data-page=work] {
        .banner.work {
            margin: 0;

            .container {
                margin: 0;
                width: 100%;
                height: auto;
            }
        }
    }

    .scrollDownArr {
        margin: 80px auto 0;
        position: relative !important;
        transform: none;
    }

    .grid {
        display: none;
    }



    .btn {

        font-size: 18px;
        margin: 0 auto;
        padding: 10px 20px;
        width: 172px;

        &::before,
        &::after {
            transform: translate3D(0, 0, 0);
            transition: transform 200ms linear;
            transition-delay: 200ms;
        }

        .btn__content {
            &::after {
                right: 1%;
                left: 1%;
                transition: left 200ms linear,
                    right 200ms linear;
            }

            &-wrap {

                &::before,
                &::after {
                    transform: translate3D(0, 0, 0);
                    transition: transform 200ms linear;
                    /* double delayed time for transition */
                    transition-delay: 400ms;
                }
            }
        }
    }

    .pageSubTitle {
        width: 100%;
        font-size: 20px;
        position: relative;
        text-align: center;
        margin: 0 0 90px;

        a {
            justify-content: center;
        }

        &.back {
            a {
                justify-content: flex-start;
            }
        }
    }

    .mainTitle,
    .title {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .mainTitle {
        font-size: 35px;
    }

    section {
        margin: 0;
        width: 100%;
    }

    #fullpage {
        margin: 25% 0 0;

        .section {
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin: 30% 0% 0;
            /*min-height: 600px;*/
            text-align: center;
            width: 100%;

            &.intro {
                justify-content: center;
                align-items: center;
                /*min-height: 400px;*/
                padding: 0 5%;
            }

            &.intro2 {
                padding: 0 5%;

                .row {
                    .mainTitle {
                        font-size: 30px;

                        &:first-child {
                            margin: 0;
                        }

                        &:last-child {
                            transform: translate(0, 0);
                            margin: 55px 0 0;
                        }
                    }
                }

                &.focused {
                    .row {
                        .mainTitle {
                            i {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            &.logoSection {
                width: 100%;

                .row {
                    margin: 0;
                    width: 100%;
                    flex-direction: column;

                    a {
                        margin: 30px 0;
                        width: 100%;

                        img {
                            opacity: 1;
                        }
                    }
                }
            }

            .row {
                height: auto;
                flex-direction: column;

                .prjTitle {
                    padding: 0;
                    width: 100%;

                    .desc {
                        width: 100%;
                        text-align: center;
                        margin: 0 0 30px;
                    }

                    .btn {

                        font-size: 18px;
                        margin: 0 auto;
                        padding: 10px 20px;
                        width: 172px;

                        &::before,
                        &::after {
                            transform: translate3D(0, 0, 0);
                            transition: transform 200ms linear;
                            transition-delay: 200ms;
                        }

                        .btn__content {
                            &::after {
                                right: 1%;
                                left: 1%;
                                transition: left 200ms linear,
                                    right 200ms linear;
                            }

                            &-wrap {

                                &::before,
                                &::after {
                                    transform: translate3D(0, 0, 0);
                                    transition: transform 200ms linear;
                                    /* double delayed time for transition */
                                    transition-delay: 400ms;
                                }
                            }
                        }
                    }
                }

                .prjImg {
                    width: 100%;
                    margin: 10% 0 0;

                    img {
                        width: 90%;
                    }
                }

                &.rowRev {
                    flex-direction: column;
                }
            }
        }

        footer.section {
            margin: 12% 0 0;
            /*overflow: hidden;*/
            padding: 50px 0 0;
            width: 100%;

            &:before {
                width: 100%;
            }

            .row {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;

                &:first-child {
                    justify-content: center;
                    align-items: center;

                    .title {
                        justify-content: center;
                    }

                    .btn {
                        padding: 10px 20px;
                        text-align: center;
                    }
                }

                &:nth-child(2) {
                    flex-direction: row !important;
                    flex-wrap: wrap;

                    .ftrContact {
                        padding: 0 5%;
                        align-items: center;

                        a {
                            svg {
                                width: 30px;
                                height: 30px;
                            }

                            &:nth-child(2) {
                                svg {
                                    height: 25px;
                                }
                            }
                        }
                    }


                    /*.col {
                        margin: 0;
                        width: 100%;

                        &:first-child {
                            flex-wrap: wrap;
                            flex-direction: row;

                            a {
                                width: 50%;
                                text-align: center;
                            }
                        }

                        &:last-child {
                            text-align: center;
                        }

                        &:before {
                            background: rgba(255, 255, 255, 0.3);
                            content: '';
                            display: block;
                            width: 60%;
                            height: 1px;
                            margin: 30px auto 30px;
                        }

                        .icons {
                            justify-content: center;
                        }

                        a {
                            text-align: center;
                        }
                    }*/
                }


                &.ftrCopy {
                    border-top: 1px solid #fff;
                    position: relative;
                    margin: 10px 0 0;

                    .col {
                        justify-content: center;
                    }
                }



            }

            .ftrWave {
                transform: translate(0, -80%);
                width: 100%;
            }
        }

    }

    footer {
        margin: 12% 0 0;
        /*overflow: hidden;*/
        padding: 50px 0 0;
        width: 100%;

        .row {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;

            &:first-child {
                justify-content: center;
                align-items: center;

                .title {
                    justify-content: center;
                }

                .btn {
                    padding: 10px 20px;
                    text-align: center;
                }
            }

            &:nth-child(2) {
                flex-direction: row !important;
                flex-wrap: wrap;

                .col {
                    margin: 0;
                    width: 100%;

                    p {
                        text-align: center;
                    }

                    &:first-child {
                        flex-wrap: wrap;
                        flex-direction: row;

                        a {
                            width: 50%;
                            text-align: center;
                        }
                    }

                    &:last-child {
                        text-align: center;
                    }

                    &:before {
                        background: rgba(255, 255, 255, 0.3);
                        content: '';
                        display: block;
                        width: 60%;
                        height: 1px;
                        margin: 30px auto 30px;
                    }

                    .icons {
                        justify-content: center;
                    }

                    a {
                        text-align: center;
                    }
                }
            }

            &.ftrCopy {
                border-top: 1px solid #fff;
                position: relative;
                margin: 10px 0 0;
                width: 100%;

                .col {
                    justify-content: center;
                }
            }

            .ftrWave {
                transform: translate(0, -80%);
                width: 100%;
            }


        }
    }

    section.banner.work {
        margin: 30% 0;
    }

    section.content {
        margin: 30% 0;
        padding: 0;

        .row,
        .row.rowRev {
            flex-direction: column;
            margin: 0;

            .contentBox {
                margin: 20% 10% 0;
                width: 80%;

                .title {
                    text-align: left;
                }

                .text {
                    ul {
                        margin: 30px 0 0;

                        li {
                            width: 100%;
                            margin: 0 0 10px;
                            display: flex;

                            &:before {
                                content: '';
                                display: block;
                                width: 10px;
                                height: 1px;
                                background: #000;
                                transform: translate(0, 50%);
                                position: relative;
                                top: 15px;
                                margin: 0 10px 0 0;
                            }
                        }
                    }
                }
            }

            .img {
                margin: 50px auto 0;
                width: 80%;
            }

            /*&:nth-child(2),
            &:nth-child(4),
            &:nth-child(5) {
                .contentBox {
                    margin: 0 5% 30%;
                }
            }*/
        }
    }

    [data-page=aem-websites] {
        .projects {
            .row {
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0 0 30%;

                .prjTitle {
                    width: 100%;
                    text-align: center;
                }

                .prjImg {
                    width: 90%;
                }
            }
        }
    }

    section.quicklinks a {
        font-size: 20px;
    }

    section.logoSection {
        margin: 0 0 30%;
        width: 100%;

        .row {
            margin: 0;
            height: auto;
            width: 100%;
            flex-direction: column;

            a {
                height: 50px;
                margin: 30px 0;
                text-align: center;
                width: 100%;

                &.mossy {
                    height: 80px;
                }

                img {
                    opacity: 1;
                }
            }
        }
    }

    section.team {
        padding: 0;

        .row,
        .row:nth-child(odd) {
            flex-direction: column;
            margin: 0 0 10px;
            position: relative;

            >div {
                &.img {
                    width: 100%;
                    height: 500px;
                    overflow: hidden;
                    align-items: flex-start;
                    justify-content: flex-start;

                    img {
                        width: 100%;
                    }
                }

                &.name {
                    margin: 0;
                    position: absolute;
                    bottom: 15px;
                    left: 0;
                    text-align: center;
                    width: 100%;

                    >div {
                        justify-content: flex-start;
                        margin: 20px 10% 0 10%;
                        color: #fff;
                        width: 80%;

                        &.position {
                            font-size: 22px;
                            margin: 10px 10% 0 10%;
                            text-align: left;
                            width: 80%;
                        }
                    }

                    .btn {
                        width: 80%;
                        text-align: left;
                        margin: 0 10%;
                        padding: 0;
                        display: inline-block;
                    }
                }
            }
        }

        .row:nth-child(odd) {
            >div {
                &.name {
                    >div {
                        justify-content: flex-end;

                        &.position {
                            text-align: right;
                        }
                    }

                    .btn {
                        text-align: right;
                    }
                }
            }
        }
    }

    section.form {
        margin: 30% 0 0;
        padding: 20% 0 0;
        height: auto;

        .title {
            margin: 0 10% 20px;
            width: 80%;
        }

        .row {
            flex-direction: column;
            padding: 0 10% 10%;


            >div {
                width: 100%;

                &.lftSec {
                    font-size: 22px;
                    padding: 0 0 25px;
                    line-height: 36px;

                    a {
                        word-break: break-all;
                        width: 100%;
                        text-align: left;
                        margin: 0 0 15px;

                        &:first-child svg {
                            transform: translate(0, 7px);
                            margin: 0 10px 0 0;
                            width: 35px;
                            height: 35px;
                        }

                        &:last-child svg {
                            width: 35px;
                            height: 26px;
                            transform: translate(0, 6px);
                            margin: 0 10px 0 0;
                        }
                    }
                }

                form {
                    width: 100%;

                    p {

                        input::placeholder,
                        select,
                        textarea::placeholder {
                            font-size: 18px;
                            width: 100%;
                        }


                        input,
                        select,
                        textarea {
                            width: 100%;
                            padding: 15px;
                        }

                        .btn {
                            padding: 10px 20px;
                            margin: 0 0 20px;
                        }
                    }
                }
            }
        }
    }


    section.solution_box {
        flex-direction: column;
        margin: 30% 0 0;

        .lftSec {
            width: 100%;
        }

        .rgtSec {
            padding: 10% 0 0;
            width: 100%;

            .title {
                text-align: left;
                line-height: 1.2;
            }
        }
    }


    section.textArea {
        .row {
            flex-direction: column;
            margin: 100px 0 0;

            .col {
                width: 100%;

                .title {
                    margin: 0 0 30px 10%;
                    text-align: left;
                }

                .text {
                    margin: 0 0 15px 10%;
                    line-height: 1.6;
                }

            }

            &:first-child .col:nth-child(1) {
                .title {
                    margin: 0 0 30px 10%;
                }

                .text {
                    margin: 0 0 15px 10%;
                    line-height: 1.6;
                }
            }
        }
    }



    section.featuredArea .text {
        width: 90%;
    }

    section.pagination {
        border-top: 1px solid rgba(187, 187, 187, .3);
        margin: 0;

        .bttn {
            padding: 10px 20px;

            a {
                font-size: 20px;
                line-height: 1.4;

                span {
                    display: none;
                }

                &:after,
                &:before {
                    width: 10px;
                    height: 10px;
                }
            }

        }
    }

    section.gallery_type1 {
        margin: 50px 0;
        width: 100%;

        .row {
            flex-direction: column;
            width: 1;

            .col {
                text-align: center !important;
                width: 100%;

                img {
                    width: 80% !important;
                }
            }
        }
    }

    .prjCarousel {
        width: 100%;
        height: auto;
        margin: 0;

        img {
            margin: 20px 0;
            width: 100%;
        }
    }

    .termsPage {
        margin: 30% 0 0;
    }

    [data-page=aem-websites] .projects {
        margin: 0 auto 100px;
    }

    .banner.teamDetail {
        height: unset !important;

        .container {
            .row {
                height: unset;

                .teamGrid {
                    display: flex;
                    flex-wrap: wrap;
                    height: unset;
                    justify-content: space-around;

                    .photo {
                        width: 40vw;
                        height: 40vw;
                    }


                    .name {
                        position: relative;
                        bottom: unset;
                        right: unset;
                        width: 40vw;
                        height: auto;
                        padding:0; 
                    }
                }
            }
        }

    }

    section.ques p {
        width: 100%;
        text-align: left;
        .title {
            text-align: left;
        }
    }
    .logo svg {
        width: 50%;
    }
}