@media only screen and (max-width: 1440px) {
    .pageSubTitle {
        font-size: 25px;
    }

    .rgtHeader .btmCopy {
        font-size: 22px;
    }

    .title {
        font-size: 40px;
    }
    .mainTitle {
        font-size: 70px;
    }

    #fullpage .section .row .prjTitle .btn {
        font-size: 26px;
        width: 215px;
    }

    #fullpage .section.logoSection .row {
        width: 80%;
        margin: 0 10%;
    }

    section.logoSection .row img {
        height: 90%;
    }
}