@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,900 ');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap ');
/* https://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    color: #323232;
    font-family: 'Luckiest Guy', cursive;
    font-size: 0.750em;
    line-height: 1.4;
    letter-spacing: 1px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Reset CSS*/


/*Site CSS*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* br {
     display: none;
}
 */

.overflowH {
    overflow: hidden;
    position: relative;
}

section {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.posRel {
    position: relative;
}

.alCtr {
    display: block;
    text-align: center;
    width: 100%;
}

.dwnArr {
    border: 5px solid #c3002f;
    border-width: 0 0 5px 5px;
    display: inline-block !important;
    height: 50px;
    margin: 0 100px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 50px;
}

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

[data-view="mobile"] .scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.centerCont {
    position: relative;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
    z-index: 2;
}

a {
    color: #323232;
}

header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .logo {
    float: left;
    margin: 0 30px;
    width: 20%;
}

/* [data-view="mobile"] header .logo {
    margin: 0 10px;
} */

[data-view="desktop"] header .logo img {
    width: 100%;
}

/* [data-view="mobile"] header .logo img {
    width: 80%;
} */

/*nav {
    float: right;
    margin: 10px 10px 17px;
    position: relative;
}

.hamburger input {
    display: none;
}

.hamburger label {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    margin: 7px;
    transition: all 0.3s;
    text-align: left;
    z-index: 10;
}

.hamburger span {
    background: #c3002f;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 4px;
    transition: all 0.3s;
}

.hamburger label span:first-child {
    right: 0;
    top: 0px;
    width: 22px;
}

.hamburger label span:nth-child(2) {
    top: 8px;
}

.hamburger label span:nth-child(3) {
    right: 0;
    top: 16px;
    width: 22px;
}

.hamburger #chkbox:checked+label span:nth-child(2) {
    top: -4px;
    right: -5px;
    width: 36px;
    height: 36px;
    background: none;
    border: 4px solid #c3002f;
    border-radius: 50%;
}

.hamburger #chkbox:checked+label span:first-child {
    top: 12px;
    right: 3px;
    transform: rotate(-45deg);
    width: 20px;
}

.hamburger #chkbox:checked+label span:nth-child(3) {
    top: 12px;
    right: 3px;
    transform: rotate(45deg);
    width: 20px;
}

.white .hamburger span {
    background: #fff;
}

.white .hamburger #chkbox:checked+label span:nth-child(2) {
    border-color: #fff;
}

 nav .hamburger {
     background-image: url(../images/sprite-nav.png);
     background-repeat: no-repeat;
     background-position: 100% 0;
     cursor: pointer;
     float: right;
     height: 30px;
     width: 30px;
}
 nav.white .hamburger {
     background-position: 100% 100%;
}
 

.nav-list {
    color: #fff;
    line-height: 3;
    opacity: 0;
    position: absolute;
    padding: 10px;
    top: -999px;
    right: 20px;
    width: 100%;
    transition: right 0.5s, opacity 0.5s;
}

.nav-list.is-active {
    opacity: 1;
    top: 0px;
    right: 0px;
}

.middle {
    background: rgba(0, 0, 0, 0.9);
    float: left;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 50px;
}

[data-view="mobile"] .middle {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

[data-view="mobile"] .middle a {
    line-height: 2.7;
}

.nav-list .top,
.nav-list .bottom {
    float: left;
    width: 100%;
}

.nav-list .top img,
.nav-list .bottom img {
    float: left;
    width: 100%;
}

.nav-list p.title {
    font-size: 1.2em;
    line-height: 1;
    margin: 0;
    padding: 0 0 25px;
    text-align: left;
}

.nav-list a {
    color: #fff;
    float: left;
    font-family: nslight;
    font-size: 1.1em;
    text-decoration: none;
    width: 100%;
}

nav.is-active .nav-list {
    display: block;
}
*/
.fp-bg {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

p.title {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 600;
    text-align: center;
    font-size: 9vw;
    margin-left: 2%;
    margin-right: 2%;
    text-transform: uppercase;
    width: 96%;

}

[data-sec="0"] .title{
    /*display: flex;*/
    font-size: 120px;
    font-size: 5.5vw;
    font-weight: 900;
    line-height: 1;
    /*padding: 0 0 0 100px;*/
    /*width: 40%;*/
}

p.title span {
    display: block;
    font-size: 3vw;
}

[data-view="mobile"] p.title span:last-child {
    margin: 0;
}

.darkBg .title,
.darkBg .ftNote,
.darkBg .infIco {
    color: #fff;
}

.darkBg .infIco {
    border-color: #fff;
}

.lightBg .titlem,
.lightBg .desc {
    color: #323232;
}

.triangles {
    display: none;
}

a.redButton {
    background: url(../images/ico-plus.png) no-repeat center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.2);
    float: left;
    height: 60px;
    left: calc(50% - 29px);
    margin: 10px 0 0;
    overflow: hidden;
    padding: 10px 18px;
    position: relative;
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    text-indent: -999px;
    width: 60px;
    display: none !important;
}

a.redButton.is-active {
    -webkit-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
            transform: rotate(45deg) !important;
    z-index: 16;
}

a.redBoxButton {
    background: #c3002f;
    color: #fff;
    display: inline-block;
    margin: 30px 10px;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 270px;
    padding: 15px 25px;
}

a.redBoxButton:hover {
    background: #a9012a;
}

.ftNote {
    bottom: 65px;
    color: #323232;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 600;
    float: left;
    margin: 0;
    position: absolute;
    line-height: 1.6;
    left: 5%;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

.ftNote span {
    color: #c3002f;
    display: block;
    margin: 0 0 5px;
    line-height: 1.2;
    font-size: 1.2em;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 600;
}

.desc {
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.desc span {
    color: #c3002f;
}

.info {
    display: none;
    bottom: 50px;
    color: #fff;
    font-size: 0.833em;
    float: left;
    left: 50px;
    position: absolute;
    width: auto;
}

[data-view="mobile"] .info {
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.infIco {
    /*background: url(../images/ico-info.png) no-repeat center;
     */
    border-radius: 50%;
    border: 3px solid #000;
    color: #000;
    cursor: pointer;
    display: table-cell;
    font-family: nsita;
    font-size: 1.7em;
    height: 30px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.infDesc {
    display: none;
    float: left;
    line-height: 1.4;
    letter-spacing: 1px;
    width: 80%;
}

.popOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.mbPopup {
    display: none;
    left: 0;
    position: fixed;
    padding: 10px;
    top: 0;
    z-index: 15;
    width: 100%;
}

.popupBody {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    color: #fff;
    float: left;
    padding: 60px 30px 30px;
    width: 100%;
}

.popupBody br {
    display: block;
}

.popupBody .infDesc {
    display: block;
    float: left;
    line-height: 1.5;
    margin: 40px 0 0;
    width: 100%;
}

.popupBody .infIco {
    border-color: #fff;
    color: #fff;
    font-size: 1.5em;
    margin: 0;
}

.mbPopup .closePopup {
    border-radius: 50px;
    border: 3px solid #fff;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    z-index: 50;
}

.mbPopup .closePopup:before,
.mbPopup .closePopup:after {
    content: '';
    height: 3px;
    width: 18px;
    display: block;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 11px;
    left: 4px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.mbPopup .closePopup:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.white .popupBody {
    background: rgba(255, 255, 255, 0.9);
    color: #323232;
}

.mbPopup.white .modelTitle {
    color: #c3002f;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}

.mbPopup.white .closePopup {
    border-color: #323232;
}

.mbPopup.white .closePopup:before,
.mbPopup.white .closePopup:after {
    background: #323232;
}

.mbPopup.red .closePopup {
    border-color: #c3002f;
    background: #c3002f;
}

.mbPopup.red .closePopup:before,
.mbPopup.red .closePopup:after {
    background: #fff;
}

.mbPopup.red {
    display: block;
}

.red .popupBody .infDesc {
    margin: 0;
}

/*[data-sec="2"] .mobile .info {
  position: relative;
  margin: 10px 0 0;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
}
*/


/*[data-view="mobile"] [data-sec="3"] .info {
  position: relative;
  bottom: -10px;
}*/

[data-view="mobile"] p.title {
    line-height: 1;
    margin-top: 10px;
}

[data-view="mobile"] p.title span {
    margin: 0 0 10px;
    line-height: 1.6;
}

.desktop .car {
    margin: 10px auto;
    min-height: 500px;
    position: relative;
    /*max-width: 1000px;*/
    width: 90%;
}

.desktop .car p {
    position: absolute;
    text-transform: uppercase;
    font-size: 1.2em;
}

.desktop .car p.tr {
    top: 0;
    right: 0;
}

.desktop .car p.bl {
    bottom: 8%;
    left: 0;
}

.desktop .car p.br {
    bottom: 0;
    right: 0;
}

.desktop .car p.tc {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.desktop .car p span {
    color: #c3002f;
    display: block;
}

a.playButton {
    background: url(../images/ico-play.png) no-repeat center;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.2);
    display: none;
    height: 66px;
    margin: 20px calc((100% - 75px) / 2) 10px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: 66px;
}

.model {
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

.model a {
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 10px;
    text-decoration: none;
    width: 80%;
}

[data-view="mobile"] [data-sec="3"] p.ftNote {
    bottom: 30px;
}

[data-view="mobile"] [data-sec="3"] p.ftNote {
    bottom: 30px;
}

[data-sec="5"] .ftNote span {
    color: #e6311f
}

[data-sec="5.1"] .ftNote span {
    color: #e2640f
}

/*[data-view="mobile"] [data-sec="5"] .ftNote, [data-view="mobile"] [data-sec="5.1"] .ftNote {
  bottom: 20px;
}*/

[data-view="mobile"] .alCtr.vc a.redBoxButton {
    margin: 20px 0;
}

.buttons {
    float: left;
    text-align: center;
    width: 100%;
}

.buttons a {
    position: relative;
    float: none;
    display: inline-block;
    margin: 10px 10px !important;
    width: 58px;
    height: 58px;
    left: auto !important;
    vertical-align: text-bottom;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
}

[data-view="mobile"] [data-sec="1"] .ftNote,
[data-view="mobile"] [data-sec="2"] .ftNote {
    bottom: 60px;
}

[data-view="mobile"] a.playButton {
    width: 58px;
    height: 58px;
}

.redPop {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
    line-height: 1.8;
    position: absolute;
    padding: 40px;
    bottom: 57%;
    right: -100px;
    width: 600px;
    z-index: 2;
}

.imgPosBL {
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.imgPosTR {
    top: 20px;
    right: 100px;
    position: absolute;
}

[data-view='mobile'] .imgPosTR {
    width: 50%;
    right: 70px;
}

.colorElements {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*[data-sec="2"] .fp-bg {
  background-image: url(../images/bg768/2.png) !important;
  background-repeat: no-repeat !important;
  background-position: center 75% !important;
  background-size: 100% !important;
}

[data-sec="3"] .fp-bg {
  background-image: url(../images/bg768/3.png) !important;
  background-repeat: no-repeat !important;
  background-position: center 73% !important;
  background-size: 120% !important;
}
[data-sec="4"] .fp-bg {
  background-image: url(../images/bg768/4.png) !important;
  background-repeat: no-repeat !important;
  background-position: center 68% !important;
  background-size: 100% !important;
}
[data-sec="5"] .fp-bg {
  background-image: url(../images/bg768/5.png) !important;
  background-repeat: no-repeat !important;
  background-position: center 68% !important;
  background-size: 80% !important;
}
[data-sec="6"] .fp-bg {
  background-image: url(../images/bg768/6.png) !important;
  background-repeat: no-repeat !important;
  background-position: center 68% !important;
  background-size: 100% !important;
}*/
[data-sec="1"] .img img {
    width: 110%;
    margin: 10% -5%;
}

[data-sec="1"] .ftNote img {
    width: 35%;
}

[data-view="mobile"] [data-sec="1"] .ftNote {
    text-align: right;
    bottom: 20px;
}

[data-sec="1"] .triangles {
    background: url('../images/triangles/1.png') no-repeat 137% 0, url('../images/triangles/1.1.png') no-repeat -35% 100% !important;
    background-size: 60% !important;
    /*display: block !important;*/
    height: 100%;
    position: absolute;
    width: 100%;
}

[data-view="mobile"] [data-sec="2"] .ftNote,
[data-view="mobile"] [data-sec="3"] .ftNote {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 600;
    /*bottom: 90px;*/
}

[data-view="mobile"] [data-sec="2"] .ftNote span,
[data-view="mobile"] [data-sec="3"] .ftNote span,
[data-view="mobile"] [data-sec="4"] .ftNote span,
[data-view="mobile"] [data-sec="5"] .ftNote span,
[data-view="mobile"] [data-sec="6"] .ftNote span,
[data-view="mobile"] [data-sec="7"] .ftNote span {
    display: inline-block;
}

/*[data-view="mobile"] [data-sec="2"] .info, [data-view="mobile"] [data-sec="3"] .info {
  bottom: 50px;
}*/


/*[data-view="mobile"] [data-sec='2'] p.title, [data-view="mobile"] [data-sec='3'] p.title {
  margin: 50px 0 0;
}*/

[data-view="mobile"] [data-sec="2"] .colorElements {
    background: url(../images/elements/2.png) no-repeat 180% 250%, url(../images/elements/2.png) no-repeat -70% -220% !important;
}

[data-view="mobile"] [data-sec="3"] .colorElements {
    background: url(../images/elements/3.png) no-repeat 250% -10% !important;
    background-size: 82% !important;
}

[data-view="mobile"] [data-sec="4"] .colorElements {
    background: url(../images/elements/4.png) no-repeat 160% -18% !important;
    background-size: 62% !important;
}

[data-view="mobile"] [data-sec="5"] .colorElements {
    background: url(../images/elements/5.1.png) no-repeat 200% 120% !important;
    background-size: 80% !important;
}

[data-view="mobile"] [data-sec="6"] .colorElements {
    background: url(../images/elements/6.png) no-repeat -155% -255% !important;
}

[data-view="mobile"] [data-sec="4"] .centerCont .title,
[data-view="mobile"] [data-sec="4"] .centerCont .ftNote {
    color: #323232 !important;
}

[data-view="mobile"] [data-sec="4"] .infIco {
    color: #000;
    border: 3px solid #000;
}

[data-view="mobile"] [data-sec="4"] .red {
    color: #c3002f;
}

/* [data-view="mobile"] [data-sec="7"] .fp-bg {
    background: #fff !important;
} */

.svgL2.play .paths2 {
    fill: none;
    stroke: red;
    stroke-dasharray: 1 3;
    stroke-width: 1;
    stroke-linejoin: square;
}

.svgL2.play .mask2 {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    -webkit-animation: dash2 1s;
            animation: dash2 1s;
}

/* does not work in IE, need JS to animate there */

@-webkit-keyframes dash2 {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash2 {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.svgL1 {
    bottom: 0;
    left: 0;
    position: absolute;
}

/*.btmSec .svgL1 {
    bottom: auto;
    left: 40%;
    top: 187px;
}*/

.svgL1.play .paths1 {
    fill: none;
    stroke: red;
    stroke-dasharray: 2;
    stroke-width: 1;
    stroke-linejoin: square;
}

.svgL1.play .mask1 {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    -webkit-animation: dash1 1s;
            animation: dash1 1s;
}

@-webkit-keyframes dash1 {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash1 {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.btmSec .svgL3 {
    left: 40%;
    height: 30%;
    position: absolute;
    top: 187px;
    overflow: hidden;
}

.svgL3.play .paths3 {
    fill: none;
    stroke: red;
    stroke-dasharray: 2;
    stroke-width: 1;
    stroke-linejoin: square;
}

.svgL3.play .mask3 {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    -webkit-animation: dash3 1s;
            animation: dash3 1s;
}

@-webkit-keyframes dash3 {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash3 {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.rev .lftSec .svgL1 {
    left: auto;
    right: 0;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

.rgtSec .svgL1 {
    bottom: -5px;
    left: -5px;
}

.newSection .lftSec:before {
    font-family: 'Luckiest Guy', cursive;
    border-left: 10px dashed #FFCF31;
    content: '';
    float: left;
    height: 0;
    left: 0;
    position: absolute;
    top: 158px;
    -webkit-transition: height 0.5s 1.5s;
    -o-transition: height 0.5s 1.5s;
    transition: height 0.5s 1.5s;
    width: 0px;
}

.newSection .lftSec:after {
    font-family: 'Luckiest Guy', cursive;
    border-bottom: 10px dashed #FFCF31;
    bottom: 3px;
    content: '';
    float: left;
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transition: width 0.5s 1.9s;
    -o-transition: width 0.5s 1.9s;
    transition: width 0.5s 1.9s;
    width: 0;
}

.newSection.active .lftSec:before {
    height: 184px;
}

.newSection.active .lftSec:after {
    width: 350px;
}

.newSection .rgtSec:after {
    border-bottom: 10px dashed #FFCF31;
    bottom: 3px;
    content: '';
    float: left;
    height: 1px;
    right: 0;
    position: absolute;
    -webkit-transition: width 0.5s 1.5s;
    -o-transition: width 0.5s 1.5s;
    transition: width 0.5s 1.5s;
    width: 0;
}

.newSection.active .rgtSec:after {
    width: 100%;
}

.newSection .btmSec:before {
    border-right: 10px dashed #FFCF31;
    border-bottom: 10px dashed #FFCF31;
    content: '';
    float: left;
    height: 0;
    right: 0;
    top: 0;
    position: absolute;
    -webkit-transition: height 0.5s 1.5s, width 0.5s 1.9s;
    -o-transition: height 0.5s 1.5s, width 0.5s 1.9s;
    transition: height 0.5s 1.5s, width 0.5s 1.9s;
    width: 0px;
    z-index: 1;
}

.newSection.active .btmSec:before {
    height: 85px;
    width: 100%;
}

.newSection .btmSec:after {
    border-bottom: 1px dashed #ff1f1f;
    content: '';
    display: none;
    float: left;
    height: 1px;
    right: 4px;
    top: 85px;
    position: absolute;
    -webkit-transition: width 0.5s 1.9s;
    -o-transition: width 0.5s 1.9s;
    transition: width 0.5s 1.9s;
    width: 0;
    z-index: 1;
}

.newSection.active .btmSec:after {
    left: 4px;
    right: auto;
    -webkit-transition: width 0.5s 1.5s;
    -o-transition: width 0.5s 1.5s;
    transition: width 0.5s 1.5s;
    width: 100%;
}

.newSection .btmSec .sec:first-child:after {
    /*border-left: 1px dashed #ff1f1f;*/
    content: '';
    float: left;
    height: 0;
    right: 10%;
    position: absolute;
    top: 0;
    -webkit-transition: height 0.5s 1.5s;
    -o-transition: height 0.5s 1.5s;
    transition: height 0.5s 1.5s;
    width: 0px;
}

.newSection.active .btmSec .sec:after {
    height: 100%;
}

[data-sec="3"].newSection .btmSec .sec:first-child:after {
    display: none;
}

.newSection.rev .lftSec:before {
    left: auto;
    right: 0;
}

.newSection.rev .btmSec:before {
    border-right: 0px dashed #FFCF31;
    border-left: 10px dashed #FFCF31;
    right: auto;
    left: 0;
    -webkit-transition: height 0.5s 1.5s, width 0.5s 1.9s;
    -o-transition: height 0.5s 1.5s, width 0.5s 1.9s;
    transition: height 0.5s 1.5s, width 0.5s 1.9s;
}

.newSection.rev .btmSec:after {
    -webkit-transition: width 0.5s 1.9s;
    -o-transition: width 0.5s 1.9s;
    transition: width 0.5s 1.9s;
}

.newSection.rev .lftSec:after {
    left: auto;
    right: 0;
}

.newSection.rev .rgtSec:after {
    right: auto;
    left: 0;
}

[data-view="mobile"].fp-viewing-5 .hamburger span {
    background: #fff;
}

[data-view="mobile"].fp-viewing-5 .hamburger #chkbox:checked+label span:nth-child(2) {
    border-color: #fff;
}
/*.newSection[data-sec="8"] .lftSec {
    left: unset;
    right: 0;
    text-align: right;
    padding: 0 20px 20px 100px;
}

.newSection[data-sec="8"] .lftSec:after { left:unset; right:0}*/
/*Site CSS*/


/*Responsive*/
@media only screen and (min-width: 1290px) and (max-device-height: 860px) {
    .fp-bg {
        background-position: center !important;
        z-index: 20;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    [data-view="mobile"] [data-sec="2"] .colorElements {
        background: url(../images/elements/2.png) no-repeat 190% 500%, url(../images/elements/2.png) no-repeat -105% -500% !important;
        z-index: 0;
    }

    [data-view="mobile"] [data-sec="4"] .colorElements {
        background: url(../images/elements/4.png) no-repeat 160% -15% !important;
        background-size: 60% !important;
    }

    [data-view="mobile"] [data-sec="4"] .colorElements {
        background: url(../images/elements/4.png) no-repeat 160% -15% !important;
        background-size: 60% !important;
    }

    [data-view="mobile"] [data-sec="4"] .fp-bg {
        background-size: 76% !important;
    }

    [data-view="mobile"] [data-sec="6"] .colorElements {
        background: url(../images/elements/6.png) no-repeat 150% -10% !important;
        background-size: 50% !important;
    }

    [data-view="mobile"] [data-sec="6"] .fp-bg {
        background-size: 80% !important;
    }
}

@media screen and (min-width: 769px) {
    br {
        display: block;
    }

    .desktop {
        display: block;
        overflow: hidden;
    }

    .mobile {
        display: none;
    }

    .centerCont {
        margin: 0 auto;
        /* min-width: 1360px;
        */
        position: relative;
        overflow: visible;
        width: 100%;
    }

    header .logo {
        width: auto
    }

    /* nav {
        margin: 15px 0;
    } */

    .nav-list {
        max-width: 420px;
    }

    p.title {
        font-size: 6.5em;
        line-height: 0.9;
    }

    p.title span {
        font-size: 0.2em;
        margin: 0 0 10px;
    }

    .infIco {
        border-color: #fff;
        color: #fff;
        float: left;
    }

    .lightBg .infIco {
        border-color: #000;
        color: #000;
        float: left;
    }

    .lightBg .infDesc {
        color: #323232;
    }

    .ftNote {
        bottom: 150px;
        color: #fff;
        font-size: 1.2em;
    }

    .ftNote span {
        color: #fff;
        display: inline;
        line-height: initial;
        font-family: 'Luckiest Guy', cursive;
        font-size: inherit;
    }

    .darkBg .title {
        color: #fff;
    }

    .lightBg .title {
        color: #323232;
    }

    .triangles {
        -webkit-animation: float 6s ease-in-out 0.01s infinite;
                animation: float 6s ease-in-out 0.01s infinite;
        display: none;
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        pointer-events: none;
        top: 0;
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
                transform: translateY(0px);
        width: 100%;
        z-index: 0;
    }

    @-webkit-keyframes float {
        0% {
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
        }

        50% {
            -webkit-transform: translateY(-5%);
                    transform: translateY(-5%);
        }

        100% {
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
        }
    }

    @keyframes float {
        0% {
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
        }

        50% {
            -webkit-transform: translateY(-5%);
                    transform: translateY(-5%);
        }

        100% {
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
        }
    }

    .topBar {
        float: left;
        left: 50%;
        position: absolute;
        top: 20px;
        text-align: center;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        z-index: 11;
    }

    .topBar .fixedButtons {
        display: none;
    }

    .topBar a.redBoxButton {
        margin: 0 10px;
    }

    table {
        color: #fff;
        margin: 30px calc((100% - 1000px)/2) 0;
        font-family: nslight;
        font-size: 0.8em;
        width: 1000px;
    }

    table tr {
        border-bottom: 1px solid #fff;
    }

    table tr td {
        width: 20%;
        padding: 1%;
        border: 1px solid #fff;
        border-width: 0 1px 0px 0px;
    }

    table tr:first-child td {
        font-weight: bold;
    }

    table tr td:last-child,
    table tr:last-child {
        border: none;
    }

    .mbPopup.red {
        display: block;
        padding: 0;
        width: 600px;
    }

    .mbPopup.red .closePopup,
    .mbPopup.red .infIco {
        display: none;
    }

    .mbPopup.red .popupBody {
        padding: 30px;
    }

    .mbPopup.red .popupBody .infDesc {
        margin: 0;
    }

    .title.price {
        font-size: 3em;
        line-height: 1;
    }

    .title.price span {
        font-size: 0.35em;
        margin: 25px 0;
    }

    /*  [data-sec="1"] .triangles {
        background-position: 100% 100%;
      }
      [data-view="desktop"] [data-sec="1"] .ftNote {
        bottom: 50px;
      }
      /*  [data-sec="2"] .triangles {
        background-position: center;
      }
      [data-sec="2"] p.bl span {
        font-family: 'Luckiest Guy', cursive;
        font-weight:600;
      }
      [data-sec="2"] p, [data-sec="3"] p, [data-sec="5"] p {
        text-align: center;
      }
      [data-sec="2"] p.br, [data-sec="3"] p.tl {
        font-size: 3em;
        font-family: 'Luckiest Guy', cursive;
        font-weight:600;
      }
      [data-sec="2"] p.br span, [data-sec="3"] p.tl span {
        font-size: 14px;
      }
      [data-sec="3"] p.bl {
        bottom: 5%;
      }
      [data-sec="3"] div.desktop .car p.tr, [data-sec="5"] div.desktop .car p.tr, {
        top: 20%;
      }
      [data-sec="5"] div.desktop .car p.tr {
        top: 15%;
      }
      [data-sec="3"] div.desktop .car p.bl, [data-sec="5"] div.desktop .car p.bl {
        bottom: 0;
      }
      [data-sec="2"] p span span {
        color: #323232 !important;
        font-family: 'Luckiest Guy', cursive;
        font-weight:600;
        font-size: 2.1em;
        line-height: 1;
        margin: 0 0 2px;
      }
      [data-sec="3"] p.tl span {
        color: #323232 !important;
      }
      [data-sec="3"] .triangles {
        background-position: 100% 100%;
      }
      [data-sec="5"] p.tr span {
        color: #e6311f
      }
      [data-sec="5"] p.bl span {
        color: #e2640f
      }
    */
    [data-sec="1"] .ftNote img {
        width: 35%;
    }

    .desktop .car p {
        text-align: center;
    }

    .row {
        float: left;
        width: 100%;
    }

    /*  [data-view="desktop"] [data-sec="2"] .fp-bg {
        background-size: 40% !important;
        background-position: center !important;
      }
      [data-view="desktop"] .clmn_2 .title.price span {
        line-height: 1.5;
      }
    */
    /*---- NUMBER OF SLIDE CONFIGURATION ----*/
    .wrapper {
        position: relative;
    }

    .wrapper input {
        display: none;
    }

    .wrapper .inner {
        float: left;
        width: 600%;
    }

    .wrapper article {
        width: 16.6666666667%;
        float: left;
        position: relative;
    }

    /*---- SET UP CONTROL ----*/
    .slider-prev-next-control {
        left: 5%;
        position: absolute;
        top: 50%;
        width: 90%;
        /* height: 98px;
         */
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .slider-prev-next-control label {
        display: none;
        width: 40px;
        height: 40px;
        position: relative;
    }

    /* Slider Styling */
    .slider-wrapper {
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-transition: all 500ms ease-out;
        -o-transition: all 500ms ease-out;
        transition: all 500ms ease-out;
    }

    .slider-wrapper .inner {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    }

    /*---- SET POSITION FOR SLIDE ----*/
    #slide1:checked~.slider-prev-next-control label:nth-child(2),
    #slide2:checked~.slider-prev-next-control label:nth-child(3),
    #slide3:checked~.slider-prev-next-control label:nth-child(4),
    #slide4:checked~.slider-prev-next-control label:nth-child(5),
    #slide5:checked~.slider-prev-next-control label:nth-child(6),
    #slide6:checked~.slider-prev-next-control label:nth-child(1),
    #slide2:checked~.slider-prev-next-control label:nth-child(1),
    #slide3:checked~.slider-prev-next-control label:nth-child(2),
    #slide4:checked~.slider-prev-next-control label:nth-child(3),
    #slide5:checked~.slider-prev-next-control label:nth-child(4),
    #slide6:checked~.slider-prev-next-control label:nth-child(5),
    #slide1:checked~.slider-prev-next-control label:nth-child(6) {
        cursor: pointer;
        content: "";
        border: 2px solid #c3002f;
        border-width: 8px 8px 0 0;
        display: inline-block;
        width: 70px;
        height: 70px;
        /* position: absolute;
         */
        /* top: 0;
         */
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    #slide1:checked~.slider-prev-next-control label:nth-child(2),
    #slide2:checked~.slider-prev-next-control label:nth-child(3),
    #slide3:checked~.slider-prev-next-control label:nth-child(4),
    #slide4:checked~.slider-prev-next-control label:nth-child(5),
    #slide5:checked~.slider-prev-next-control label:nth-child(6),
    #slide6:checked~.slider-prev-next-control label:nth-child(1) {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        /* right: 0;
         */
    }

    #slide1:checked~.slider-prev-next-control label:nth-child(2),
    #slide2:checked~.slider-prev-next-control label:nth-child(3),
    #slide3:checked~.slider-prev-next-control label:nth-child(4),
    #slide4:checked~.slider-prev-next-control label:nth-child(5),
    #slide5:checked~.slider-prev-next-control label:nth-child(6),
    #slide6:checked~.slider-prev-next-control label:nth-child(1) {
        display: block;
        float: right;
        margin-right: 5px;
    }

    #slide2:checked~.slider-prev-next-control label:nth-child(1),
    #slide3:checked~.slider-prev-next-control label:nth-child(2),
    #slide4:checked~.slider-prev-next-control label:nth-child(3),
    #slide5:checked~.slider-prev-next-control label:nth-child(4),
    #slide6:checked~.slider-prev-next-control label:nth-child(5),
    #slide1:checked~.slider-prev-next-control label:nth-child(6) {
        display: block;
        float: left;
        margin-left: 5px;
    }

    #slide2:checked~.slider-prev-next-control label:nth-child(1),
    #slide3:checked~.slider-prev-next-control label:nth-child(2),
    #slide4:checked~.slider-prev-next-control label:nth-child(3),
    #slide5:checked~.slider-prev-next-control label:nth-child(4),
    #slide6:checked~.slider-prev-next-control label:nth-child(5),
    #slide1:checked~.slider-prev-next-control label:nth-child(6) {
        -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
                transform: rotate(-135deg);
        left: 0;
    }

    #slide1:checked~.slider-dot-control label:nth-child(1),
    #slide2:checked~.slider-dot-control label:nth-child(2),
    #slide3:checked~.slider-dot-control label:nth-child(3),
    #slide4:checked~.slider-dot-control label:nth-child(4),
    #slide5:checked~.slider-dot-control label:nth-child(5),
    #slide6:checked~.slider-dot-control label:nth-child(6) {
        background: #333;
    }

    #slide1:checked~.slider-wrapper .inner {
        margin-left: 0%;
    }

    #slide2:checked~.slider-wrapper .inner {
        margin-left: -100%;
    }

    #slide3:checked~.slider-wrapper .inner {
        margin-left: -200%;
    }

    #slide4:checked~.slider-wrapper .inner {
        margin-left: -300%;
    }

    #slide5:checked~.slider-wrapper .inner {
        margin-left: -400%;
    }

    #slide6:checked~.slider-wrapper .inner {
        margin-left: -500%;
    }

    [data-view="desktop"] [data-sec="7"] .centerCont p {
        display: inline-block;
    }

    [data-view="desktop"] [data-sec="7"] .centerCont p span {
        width: 100%;
    }

    /*.centerCont p.title {
      opacity: 0;
      transform: translateY(-20%);
    }
    .centerCont .ftNote {
      opacity: 0;
      transform: translateY(200%);
    }
    .info {
      opacity: 0;
    }
    
    .desktop .car p.tr {
      opacity: 0;
      transform: translate(10%, -10%);
    }
    .desktop .car p.bl {
      opacity: 0;
      transform: translate(-10%, 10%);
    }

    .desktop .car p.tc {
      opacity: 0;
      transform: translate(-50%, -30px);
    }

    .desktop .car p.br {
      opacity: 0;
      transform: translate(10%, 10%);
    }
    .desktop .car p.tl {
      opacity: 0;
      transform: translate(-10%, -10%);
    }
    .fadeIn {
      opacity: 0;
    }
    .triangles {
      opacity: 0;
    }
    .row .clmn p:last-child {
      transform: translateY(50px);
    }
    .active .fadeIn {
      opacity: 1;
    }
    .active .desktop .car p.tr, .active .desktop .car p.br, .active .desktop .car p.bl, .active .desktop .car p.tl {
      opacity: 1;
      transform: translate(0);
    }
    .active .desktop .car p.tc {
      opacity: 1;
      transform: translate(-50%, 0);
    }
    .active .info {
      opacity: 1;
    }
    .active .triangles {
      opacity: 0.5;
    }
    .active .centerCont .ftNote, .active .centerCont p.title, .active .row .clmn p:last-child {
      opacity: 1;
      transform: translateY(0);
    }*/
    /*.section[data-bgsize="cover"] .fp-bg {
           background-size: 120% !important;
      }
       .section[data-bgsize="contain"] .fp-bg {
           background-size: 80% !important;
      }*/
    /*.active.section[data-bgsize="cover"] .fp-bg , .active.section[data-bgsize="contain"] .fp-bg {
           background-size: 100% !important;
      }*/
    [data-view="desktop"] [data-sec="1"] p.title {
        font-weight: 900;
        margin: -25px 0 0;
        text-align: left;
        font-size: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        line-height: 1;
        width: 100%;
    }

    [data-sec="1"] .vc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    [data-sec="1"] .img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    [data-sec="1"] .img img {
        margin: 50px 0 0;
        width: 100%;
    }

    [data-sec="1"] .triangles {
        background: url('../images/triangles/1.png') no-repeat 100% 0, url('../images/triangles/1.1.png') no-repeat 0 100% !important;
        z-index: 0;
        background-size: 30% !important;
    }

    [data-sec="1"] .img {
        float: left;
        text-align: center;
        width: 100%;
    }

    [data-view="desktop"] [data-sec="1"] .ftNote {
        bottom: 5%;
        left: auto;
        right: 5%;
        text-align: right;
    }

    [data-view="desktop"] [data-sec="1"] .ftNote img {
        width: 200px;
    }

    .newSection .desktop .car p.title {
        font-size: 3.5em;
        font-family: 'Luckiest Guy', cursive;
    }

    .newSection .desktop .car p.title strong {
        display: block;
        font-family: 'Luckiest Guy', cursive;
        font-weight: 600;
        font-size: 1.07em;
    }

    /*.newSection[data-sec="2"] .rgtSec img {
        width: 40%;
    }*/

    /*.newSection[data-sec="3"] .rgtSec img {
        width: 50%;
    }*/

    .newSection[data-sec="4"] .btmSec {
        width: 370px;
    }

    .newSection[data-sec="4"] .btmSec .sec:last-child {
        width: 100%;
    }

    [data-sec="4"].newSection .btmSec .sec:last-child:after {
        display: none;
    }

    .newSection .lftSec {
        font-family: 'Open Sans', sans-serif;
        float: left;
        left: 0;
        overflow: hidden;
        padding: 0 100px 20px 0px;
        position: absolute;
        top: 40%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 300px;
    }

    .newSection .lftSec img {
        margin: 0 0 25px;
        width: 80%;
    }

    .newSe.newSection[data-sec="2"] .rgtSec img {
        width: 40%;
    }

    /*.newSection[data-sec="3"] .rgtSec img {
        width: 30%;
    }*/

    .newSection[data-sec="4"] .btmSec {
        width: 370px;
    }

    .newSection[data-sec="4"] .btmSec .sec:last-child {
        width: 100%;
    }

    [data-sec="4"].newSection .btmSec .sec:last-child:after {
        display: none;
    }

    section .lftSec strong {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 900;
        margin: 0 0 10px;
    }

    .newSection .rgtSec {
        /*background: url('../images/lines/3.svg') no-repeat 0 100%;*/
        float: right;
        font-size: 2.5em;
        line-height: 1;
        overflow: hidden;
        position: absolute;
        padding: 0 0 15px;
        right: 0;
        text-align: right;
        top: 40%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        /* width: 300px; */
        width: 250px;
    }

    .newSection .rgtSec img {
        margin: 0 0 10px 0;
        width: 30%;
    }
    /* .newSection[data-sec="10"] .rgtSec img {
        width: 40%;
    } */
    .newSection[data-sec="1"] .rgtSec img {
        width: 50%;
    }
    .newSection[data-sec='5'] .rgtSec img {
        width: 30%;
    }

    .newSection .rgtSec strong {
        display: block;
        font-family: 'Luckiest Guy', cursive;
        font-weight: 600;
    }

    .newSection .btmSec {
        /*background: url('../images/lines/2.svg') no-repeat 0 0, url('../images/lines/4.svg') no-repeat 50% 84px;*/
        /* bottom: 10%; */
        bottom: 7%;
        float: left;
        right: calc((100% - 300px) / 2);
        /* overflow: hidden; */
        position: absolute;
        padding: 85px 0 10px;
        width: 300px;
    }

    .newSection .btmSec .sec {
        float: left;
        padding: 10px 0 0;
        position: relative;
        width: 100%;
    }

    /*.newSection .btmSec .sec:first-child {
        width: 55%;
    }*/

    .newSection .btmSec .sec strong {
        display: block;
        font-family: 'Luckiest Guy', cursive;
        font-weight: 600;
    }

    .newSection .btmSec .sec strong.price {
        font-size: 2em;
        /* line-height: 1; */
        padding-top: 10px;
    }

    .newSection .btmSec .sec .buttons {
        position: absolute;
        right: -48px;
        top: 0;
        width: auto;
    }

    .newSection a.playButton {
        -webkit-transform: translateX(200px);
            -ms-transform: translateX(200px);
                transform: translateX(200px);
    }

    /*.newSection.rev .btmSec {
         background: url('../images/lines/2.1.svg') no-repeat 0 0, url('../images/lines/4.svg') no-repeat 50% 84px;
        bottom: 5%;
        left: calc((100% - 770px) / 1.7);
        right: auto;
    }*/

    .newSection.rev .lftSec {
        /*background: url('../images/lines/1.1.svg') no-repeat 100% 100%;*/
        left: auto;
        padding: 0 20px 20px 100px;
        right: 0;
        text-align: right;
    }

    .newSection.rev .rgtSec {
        left: 0;
        right: 0;
        text-align: left;
    }

    /*    [data-sec="3"].newSection .btmSec {
            right: calc((100% - 750px) / 2);
            width: 750px;
        }

        .newSection[data-sec="3"] .btmSec .sec:first-child:after {
            border-left: 1px dashed #ff1f1f;
            content: '';
            float: left;
            height: 0;
            right: 10%;
            position: absolute;
            top: 0;
            transition: height 0.5s 1.5s;
            width: 0px;
        }
    */
    .newSection[data-sec="3"].active .btmSec .sec:after {
        height: 100%;
    }

    .newSection[data-sec="6"] .rgtSec img {
        width: 40%;
    }

    /*[data-sec="3"].newSection .btmSec .sec {
    width: 100%;
    }*/
    [data-sec="3"].newSection .btmSec .svgL2 {
        overflow: hidden;
        width: 100%;
    }

    [data-sec="3"].newSection .btmSec .svgL2>svg {
        float: right;
    }

    [data-sec="3"].newSection .btmSec .svgL3 {
        display: none;
    }

    [data-sec="4"] .desktop .car p.title {
        color: #000;
    }

    [data-sec="4"] .svgL2.play {
        -webkit-transform: scaleX(-1) translatex(5px);
            -ms-transform: scaleX(-1) translatex(5px);
                transform: scaleX(-1) translatex(5px);
    }

    [data-sec="4"].newSection .btmSec .sec {
        width: 60%;
    }

    /*[data-sec="4"].newSection .btmSec .sec:last-child {
    width: 40%;
      }*/
    [data-sec="4"] .btmSec .svgL3 {
        height: 120%;
        left: 48%;
        top: 87px;
    }
    .newSection[data-sec="8"] .btmSec {
        right: calc((100% - 750px) / 2);
        width: 750px;
    }

    .newSection[data-sec="8"] .btmSec .sec {
        width: 50%;
    }

    .newSection[data-sec="8"] .btmSec .sec:first-child:after {
        border-left: 10px dashed #FFCF31;
    }
    /*[data-sec="5"].newSection .btmSec .sec {
        width: 50%;
    }*/

    /*[data-sec="5"].newSection .btmSec .sec:first-child {
    width: 47%;
      }*/
    /*[data-sec="5"].newSection .btmSec {
        background: url('../images/lines/2.svg') no-repeat 0 0, url('../images/lines/4.svg') no-repeat 43% 84px;
        right: calc((100% - 770px) / 1.5);
    }*/

    [data-sec="5"].newSection .btmSec .sec .buttons {
        right: -75px;
    }l

    .newSection .btmSec .sec span {
        font-size: 1.5em;
    }

    /*  [data-view="desktop"] [data-sec="3"] .fp-bg {
    background-position: center !important;
    background-size: 50% !important;
    }
    [data-view="desktop"] [data-sec="4"] .fp-bg {
      background-position: center !important;
      background-size: 40% !important;
    }
    [data-sec="5"] .fp-bg {
      background-position: center !important;
      background-size: 40% !important;
    }
    [data-sec="6"] .fp-bg {
      background-size: 40% !important;
      background-position: center center !important;
    }*/
    /*    [data-sec="6"] .btmSec {
            bottom: 5%;
            right: calc((100% - 770px) / 1.8);
        }

        [data-sec="5"].newSection .btmSec {
            width: 320px;
        }

        [data-sec="5"].newSection .btmSec .sec {
            width: 100%;
        }

        [data-sec="5"].newSection .btmSec .sec:after {
            display: none;
        }

        .newSection[data-sec="7"] .btmSec {
            width: 350px;
        }

        .newSection[data-sec="7"] .btmSec .sec {
            width: 100%;
        }

        .newSection[data-sec="7"] .btmSec .sec:after {
            display: none;
        }

        .newSection[data-sec="8"] .btmSec {
            width: 350px;
        }

        .newSection[data-sec="8"] .btmSec .sec {
            width: 100%;
        }

        .newSection[data-sec="8"] .btmSec .sec:after {
            display: none;
        }

        .newSection[data-sec="9"] .btmSec {
            width: 350px;
        }

        .newSection[data-sec="9"] .btmSec .sec {
            width: 100%;
        }

        .newSection[data-sec="9"] .btmSec .sec:after {
            display: none;
        }*/

        /*.newSection[data-sec="8"] .rgtSec {
            left: 0;
            text-align: left;
        }

        .newSection[data-sec="8"] .rgtSec:after {
            left: 0;
        }*/


    [data-sec="10"] .boxContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
    }

    [data-sec="10"] .boxContainer .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 90px 0;
        width: 33%;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    }

    [data-sec="10"] .boxContainer .box .content {
        background: #ffdd19;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 10%;
        min-height: 260px;
        padding: 10px;
        position: relative;
        width: 80%;
    }

    [data-sec="10"] .boxContainer .box .content .title {
            /* width: 100%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* height: 70px; */
    /* background: #bfa50f; */
    font-size: 25px;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 1px;
    font-weight: 900;
    margin: 0;
    }

    /*[data-sec="10"] .boxContainer .box .content .title:after {
        content: '';
        display: flex;
        width: 0;
        position: absolute;
        bottom: 0;
        border: 5px solid #ffdd19;
        border-color: #bfa50f #ffdd19 transparent;
        border-width: 16px 200px 0;
        padding: 0 0;
    }*/

    [data-sec="10"] .boxContainer .box .content ul {
        padding: 10px 30px 30px;
        line-height: 2;
        font-size: 14px;
        list-style-type: none;
        margin: 0;
        -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
                transform: translateY(10px);
        opacity: 1;
        /*position: absolute;
        top: 0;
        left: 0;*/
        text-align: center;
        width: 100%;
        color: #fff;
        display: none;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    [data-sec="10"] .boxContainer .box .content:hover ul { display: block; }
    [data-sec="10"] .boxContainer .box .content:before {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        width: 30px;
        height: 100%;
        background: #ebc721;
        z-index: 1;
        top: 15px;
        left: -30px;
        -webkit-transform: skewY(-45deg);
            -ms-transform: skewY(-45deg);
                transform: skewY(-45deg);
        display: none;
    }

    [data-sec="10"] .boxContainer .box .content:after {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        width: 80%;
        height: 30px;
        background: #ebc721;
        z-index: 1;
        bottom: -30px;
        left: -15px;
        -webkit-transform: skewX(-45deg);
            -ms-transform: skewX(-45deg);
                transform: skewX(-45deg);
        display: none;
    }
    [data-sec="10"] .title {
        text-align: center;
        margin: 0 0 40px;
        font-size: 50px;
        font-weight: 900;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    table {
        font-size: 0.8em
    }

    .info {
        padding: 10px;
        top: auto;
        bottom: 0;
    }

    .info .infIco {
        margin: 10px;
    }

    .info .infDesc {
        width: 90%;
    }

    p.title {
        font-size: 5vw;
    }

    .title.price {
        font-size: 2.3em;
    }

    .title.price span {
        font-size: 0.4em;
    }

    [data-sec="23"] .row .clmn {
        min-height: 500px;
    }

    .topBar a.redBoxButton {
        min-width: auto;
        margin: 0 5px;
    }
}

@media screen and (min-device-height: 800px) and (max-device-width: 1280px) {
    [data-view="desktop"] [data-sec="1"] p.title {
        margin: 50px 0 0;
    }

    [data-view="desktop"] [data-sec="1"] .img img.desktop {
        display: inline-block;
        margin: 10px 0 0;
    }

    [data-view="desktop"] [data-sec="1"] .ftNote {
        bottom: 2%;
        right: 2%;
    }

    /* [data-view="desktop"] [data-sec="2"] .fp-bg {
        background-size: 35% !important;
    } */

    [data-view="desktop"] .newSection .btmSec {
        /* bottom: 0; */
        bottom: 20px;
    }

    /* [data-view="desktop"] [data-sec="3"] .fp-bg {
        background-size: 40% !important;
    } */

    [data-view="desktop"] [data-sec="4"] .colorElements {
        background: url(../images/elements/4.png) no-repeat -15% 120% !important;
        background-size: 35% !important;
    }

    /* [data-view="desktop"] [data-sec="5"] .fp-bg {
        background-size: 30% !important;
    } */

    /*[data-sec="2"] .triangles {
    background-size: 20% !important;
  }*/
}


@media screen and (min-width: 1300px) and (max-width: 1366px) {
    [data-view="desktop"] [data-sec="2"] .fp-bg {
        background-size: 35% !important;
        background-position: center 55% !important;
    }

    [data-view="desktop"] [data-sec="3"] .fp-bg {
        background-size: 40% !important;
    }

    [data-view="desktop"] [data-sec="5"] .fp-bg {
        background-size: 30% !important;
    }

    [data-view="desktop"] [data-sec="5"] .colorElements {
        background-size: 18% !important;
    }

    .newSection .btmSec {
        bottom: 0 !important;
    }

    [data-view="desktop"] [data-sec="5"].newSection .btmSec .sec .buttons {
        top: -12px;
    }

    [data-view="desktop"] [data-sec="6"] .fp-bg {
        background-size: 35% !important;
    }

    [data-view="desktop"] [data-sec="4"] .colorElements {
        background-position: -15% 130% !important;
    }

    [data-view="desktop"] [data-sec="2"] .colorElements {
        background-position: 120% 190% !important;
    }

    [data-sec="2"] .triangles {
        background-size: 19% !important;
    }
}

@media only screen and (max-device-width: 1366px) and (min-device-height: 768px) {
    [data-view="desktop"] [data-sec="1"] p.title {
        margin: 50px 0 0;
    }

    [data-view="desktop"] [data-sec="1"] .img {
        text-align: center;
        width: 100%;
    }

    [data-view="desktop"] [data-sec="1"] .img img.desktop {
        display: inline-block;
        margin: 10px 0 0;
        width: 90%;
    }

    [data-view="desktop"] [data-sec="1"] .ftNote {
        bottom: 3%;
        right: 3%;
    }
}
@media (max-width:1290px) {
    nav {
        margin: 0;
    }
}
@media screen and (max-width: 768px){
    .fp-bg{
        background-position: center 50% !important;
        background-size: 75% !important;
    }
    .companyLogo{
        max-width: 200px;
        width: 100%;
        height: auto;
        padding-top: 20%;
        text-align: center;
        margin: 0 auto
    }
    .companyLogo.imgSize{
        max-width: 250px;
    }
    .companyLogo img{
        width: 100%;
        height: auto;
    }
    .mobile .ftNote{
        bottom: 15% !important;
    }
    .mobile .ftNote p.title{
        font-size: 5vw;
    }
}


@media screen and (max-width: 480px){
    .companyLogo{
        max-width: 120px;
        padding-top: 27%;
    }
    .companyLogo.imgSize{
        max-width: 175px;
    }
    .mobile .ftNote {
        bottom: 10% !important;
    }
}